################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lectures
/Practice/ThemeOne/.vs/ThemeOne
/Practice/ThemeOne/1.1/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/1.1/obj
/Practice/ThemeOne/1.2/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/1.2/obj
/Practice/ThemeOne/1.3/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/1.3/obj
/Practice/ThemeOne/2.1/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/2.1/obj/Debug/netcoreapp3.1
/Practice/ThemeOne/2.1/obj
/Practice/ThemeOne/2.2/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/2.2/obj
/Practice/ThemeOne/2.3/bin/Debug/netcoreapp3.1
/Practice/ThemeOne/2.3/obj
/Practice/ThemeOne/ThemeOne
